.about__container {
  margin: 31px 30px 0 30px;

  @media (min-width: $tablet-width) {
    margin: 0 50px 0 50px;
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 164px 50px 0 175px;
  }
}
