.contacts {
  @media (min-width: $desktop-width) {
    padding-bottom: 101px;
  }

  &-block p {
    margin: 0;
  }
}

.contacts__container {
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    font-size: 17px;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 78px;
    column-gap: 52px;
    grid-template-columns: min-content 298px min-content;
    max-width: min-content;
    margin-left: 50px;
  }
}

.contacts h2 {
  margin: 0 30px;

  @media (min-width: $tablet-width) {
    align-self: end;
    margin: 0;
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 6px;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 74px;
  }
}

.contacts__icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 53px;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 63px;
    margin-right: 12px;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
  }
}

.contacts__wrapper {
  margin: 27px 30px 62px 28px;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 32px;
  row-gap: 30px;

  @media (min-width: $tablet-width) {
    height: min-content;
    margin: 50px 50px 49px 50px;
    grid-column: 1/-1;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(3, min-content) 1fr;
  }

  @media (min-width: $desktop-width) {
    margin: 33px 0 0 0;
    padding-bottom: 84px;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.adress-block__name {
  @media (max-width: ($tablet-width - 1)) {
    padding-left: 30px;
  }
}

.adress-block__place {
  @media (max-width: ($tablet-width - 1)) {
    padding-left: 7px;
  }
}

.contacts__wrapper p {
  margin: 0;
}

.contacts__map-wrapper {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    height: 457px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-column: 3/4;
    grid-row: 1/4;
  }
}

.contacts__map {
  width: 100%;
  border: none;
  box-sizing: border-box;
  min-height: 454px;
  height: 100%;

  @media (min-width: $desktop-width) {
    width: 527px;
    height: 457px;
  }
}

.contacts__button {
  margin: 32px 30px 39px 30px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    width: 230px;
    margin: 55px auto 57px auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    align-self: end;
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
