.email-block__link a {
  margin: 0;
  border-bottom: 1px solid $main-color;
}

.email-block__link a:hover {
  color: $main-color;
}

.email-block__link a:active {
  border-bottom: 1px solid rgba(70, 193, 174, 0.1);
}
