.features-list {
  font-size: 17px;
  line-height: 20px;
  margin-top: 28px;

  &__item p {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 22px;
    }
  }

  &__item {
    @media (min-width: $tablet-width) {
      height: 157px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 41px;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 39px;
    width: 702px;
  }
}
