.goods-types-list {
  @media (min-width: $tablet-width) {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  position: relative;
}

.goods-types-list__item {
  height: 103px;

  @media (min-width: $tablet-width) {
    height: 119px;
  }


  &:first-child {
    background-color: $main-color;
  }

  &:last-child {
    background-color: $main-dark;
  }
}

.goods-types-list__item p {
  margin: 0;
  width: 30%;
}

.goods-types-list__item a {
  width: 100%;
  color: $white;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.goods-types-list__item div {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 36px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  @media (min-width: $tablet-width) {
    padding-left: 36px;
    padding-right: 34px;
  }
}

.goods-types-list__item svg {
  opacity: 0.5;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }
}
