.goods-types-list {
  @media (min-width: $tablet-width) {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  position: relative;
}

.goods-types-list__item {
  height: 103px;

  @media (min-width: $tablet-width) {
    height: 119px;
  }

  &:last-child div {
    padding-right: 27px;
  }

  &:first-child {
    background-color: $main-color;
  }

  &:last-child {
    background-color: $main-dark;
  }
}

.goods-types-list__item p {
  margin: 0;
  width: 30%;
}

.goods-types-list__item a {
  width: 100%;
  color: $white;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.goods-types-list__item div {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 36px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    padding-left: 36px;
    padding-right: 27px;
  }
}

.goods-types-list__item svg {
  opacity: 0.5;

  @media (min-width: $desktop-width) {
    margin-right: 10px;
  }
}

.green_button {
  &--left {
    &:hover {
      transform: translateY(-5px);
      background-color: $main-color-hover;
    }

    &:hover svg {
      opacity: 0.7;
    }

    &:active svg {
      opacity: 0.3;
    }

    &:hover::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: -5px;
      background-color: $main-color-hover;
    }
  }

  &--right {
    &:hover {
      transform: translateY(-5px);
      background-color: $main-dark-hover;
    }

    &:hover svg {
      opacity: 0.7;
    }

    &:active svg {
      opacity: 0.3;
    }

    &:hover::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: -5px;
      background-color: $main-dark-hover;
    }
  }
}
