.promote-item {
  position: relative;

  @media (min-width: $desktop-width) {
    padding-top: 71px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    background-image: url("../../img/zigzag-line.svg");
    bottom: -42px;
    height: 6px;
    background-size: auto 6px;

    @media (min-width: $tablet-width) {
      background-size: auto 17px;
      height: 17px;
      bottom: 21px;
    }

    @media (min-width: $desktop-width) {
      height: 23px;
      background-size: auto 23px;
      bottom: -96px;
    }
  }
}

.promote-item__container {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: $dark-gray;
  margin: 31px 30px 0 30px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 50px 64px 50px;
    display: grid;
    grid-template-columns: 292px 1fr;
    grid-column-gap: 42px;
    grid-template-rows: min-content;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0 100px 64px 82px;
    height: 636px;
    grid-template-columns: 100px 85%;
    align-items: end;
    max-width: 1050px;
    box-sizing: border-box;
  }
}

.promote-item__top-wrapper {
  @media (min-width: $tablet-width) {
    height: 50px;
    grid-column: -1/1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin-top: 61px;
    margin-bottom: 35px;
  }
}

.promote-item__name {
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    order: 2;
    padding-left: 42px;
    padding-top: 7px;
  }
}

.promote-item__promotion {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $main-color;
  text-transform: uppercase;
  margin: 4px 0 0 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 17px;
    width: 100px;
    text-align: center;
    margin: 0;
  }
}

.promote-item__description {
  margin: 18px 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    grid-column: 1/2;
    min-height: 90px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    width: 292px;
    margin-top: 8px;
  }
}

.promote-item__bottom-wrapper {
  @media (min-width: $tablet-width) {
    height: 167px;
  }

  @media (min-width: $desktop-width) {
    width: 292px;
    grid-column: 2/3;
    margin-top: 55px;
  }
}

.promote-item__price {
  font-weight: bold;
  font-size: 17px;
  margin: 0;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    height: 24px;
    margin-top: 30px;
    margin-bottom: 33px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 292px;
    text-align: center;
  }
}

.promote-item__button {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: calc(100% - 4px);
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.promote-item__image {
  @media (min-width: $tablet-width) {
    height: 404px;
    width: 334px;
    grid-column: 2/3;
    grid-row: 2/5;
    align-self: start;
    justify-self: end;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    z-index: -1;
    position: absolute;
    top: -10px;
    right: 50px;
    grid-column: inherit;
    grid-row: inherit;
    height: 636px;
    width: 525px;
  }
}

.promote-item__table {
  line-height: 20px;
  border-collapse: collapse;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-top: 37px;
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    width: 292px;
    margin-top: 50px;
  }
}

.promote-item__table tr {
  border-bottom: 1px solid $table-color;
  height: 39px;
  max-height: 39px;
}

.promote-item__table td:not(.item-details__row--second-row) {
  padding: 0;
  vertical-align: center;
  width: 97px;
}
