.reviews {
  position: relative;
  margin-bottom: 90px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 87px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    background-image: url("../../img/zigzag-line.svg");
    bottom: -51px;
    height: 6px;
    background-size: auto 6px;

    @media (min-width: $tablet-width) {
      background-size: auto 17px;
      height: 17px;
      bottom: -18px;
    }

    @media (min-width: $desktop-width) {
      height: 23px;
      background-size: auto 23px;
      bottom: -15px;
    }
  }
}

.reviews__container {
  margin: 0 30px 0 30px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 134px 50px 115px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../../../img/comments/review.jpg");
    background-repeat: no-repeat;
    background-position-y: 50px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/comments/review@2x.jpg");
    background-size: 350px 457px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-top: 78px;
    padding-bottom: 174px;
    margin: 22px 0 0 50px;
    background-position-y: 0;
  }
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  margin: 12px 0 0 0;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 1/3;
    font-size: 17px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 68px;
  }
}

.reviews__text p {
  margin: 0;
}

.reviews__arrow-buttons {
  display: flex;
  flex-direction: row;
  max-width: 260px;
  margin: 33px auto 0 auto;

  @media (min-width: $tablet-width) {
    margin: 61px 0 0 0;
    justify-self: end;
    justify-content: flex-end;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin: 44px 0 0 0;
  }
}

.reviews__button {
  margin-top: 38px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    justify-self: end;
    width: 171px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 40px;
  }
}

.reviews__img {
  display: none;

  @media (min-width: $tablet-width) {
    display: inherit;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
  }
}
