.banner {
  background-image: url("../../img/banner-imgs/bg.jpg");
  background-size: auto 373px;
  background-repeat: no-repeat;
  height: 489px;
  width: auto;
  background-position: 50% -17px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    height: 746px;
    background-size: auto 746px;
  }

  &__text {
    padding: 0 30px 0 30px;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    background-color: $footer-color;
  }

  &__text--special {
    margin: 0;
    text-align: center;
    padding: 73px 30px 0 30px;
    font-size: 27px;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      padding: 154px 50px 0 50px;
      font-size: 43px;
      line-height: 50px;
    }
  }

  // &__list {
  //   // padding-top: 120px;
  //   list-style: none;
  // }
}
