.order-form__fieldset {
  border: none;
  border-top: 1px solid $main-color;
  padding: 0;

  & legend {
    padding-right: 23px;
  }
}

.fieldset__comment textarea {
  width: 260px;
  height: 142px;
  background: $white;
  mix-blend-mode: normal;
  border: 2px solid $dark-gray;
  box-sizing: border-box;
}

.info-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
