.main-nav {
  position: relative;
  z-index: 10;
  box-shadow: 0 1px 0 $table-color, inset 0 1px 0 $table-color;

  &--hidden {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    height: 88px;
  }

  &__item a:not(.main-nav__logo) {
    height: 79px;
    box-shadow: 0 1px 0 $table-color, inset 0 1px 0 $table-color;
    display: flex;
    padding-left: 30px;
    align-items: center;

    @media (min-width: $tablet-width) {
      height: 100%;
      padding: 0;
      box-shadow: none;
    }
  }

  &__logo img {
    @media (min-width: $tablet-width) {
      width: 113px;
      height: 46px;
    }

    @media (min-width: $desktop-width) {
      width: 149px;
      height: 72px;
    }
  }

  &__logo:hover img {
    @media (min-width: $tablet-width) {
      opacity: 0.6;
    }
  }

  &__logo:active img {
    @media (min-width: $tablet-width) {
      opacity: 0.3;
    }
  }

  &__item p {
    @media (min-width: $tablet-width) {
      width: max-content;
    }
  }

  &__item--mobile-none {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &__item--text-none {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__item--tablet-none {
    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &__item:last-child {
    box-shadow: none;
  }

  &__img-wrapper {
    min-width: 21px;
    padding-right: 25px;

    @media (min-width: $tablet-width) {
      min-width: min-content;
      padding-right: 0;
    }
  }
}

.main-nav__list {
  background-color: $white;
  font-weight: bold;
  position: absolute;
  width: 100%;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding: 0 50px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 168px 1fr min-content 264px;
    grid-template-rows: 88px;
    align-items: center;
    justify-items: start;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 184px 1fr min-content 266px;
  }
}


.main-nav--nojs {
  position: inherit;
}

.main-nav__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  height: 100%;

  &:hover p {
    opacity: 0.6;
  }

  &:active p {
    opacity: 0.3;
  }

  &:hover .main-nav__img-wrapper path {
    fill: $main-color;
    opacity: 1;
  }

  &:active .main-nav__img-wrapper path {
    fill: $main-color;
    opacity: 0.3;
  }

  &--logo-tablet {
    @media (min-width: $tablet-width) {
      white-space: nowrap;
      max-height: max-content;
      position: absolute;
      left: 50px;
      top: 22px;
    }

    @media (min-width: $desktop-width) {
      left: 510px;
      top: 9px;
    }
  }

  &--search {
    grid-column: 3/4;
    grid-row: 1/2;
    min-width: 46px;
    justify-content: center;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      background-color: rgba($black, $alpha: 0.1);
      display: block;
      top: 0;
      width: 1px;
      height: 88px;
    }

    &::before {
      left: -33px;
    }

    &::after {
      right: -4px;
    }
  }

  &--search a {
    @media (min-width: $tablet-width) {
      justify-content: start;
    }
  }

  &--bukkit {
    grid-column: 4/5;
    grid-row: 1/2;

    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  &--bukkit a {
    @media (min-width: $tablet-width) {
      justify-content: flex-end;
    }
  }

  &--bukkit p {
    @media (min-width: $tablet-width) {
      padding-left: 30px;
    }
  }

  &--catalog {
    grid-column: 1/2;
    grid-row: 2/3;

    @media (min-width: $tablet-width) {
      font-size: 15px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      font-size: 17px;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  &--form {
    grid-column: 2/3;
    grid-row: 2/3;

    @media (min-width: $tablet-width) {
      font-size: 15px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      font-size: 17px;
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  &--sale {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  &--ad {
    @media (min-width: $tablet-width) {
      justify-self: end;
      display: block;
      grid-column: 4/5;
      grid-row: 2/3;
    }
  }

  &--ad p {
    width: 100%;
  }

  &--second-row {
    @media (min-width: $tablet-width) {
      font-size: 15px;
    }
  }
}
