.main-nav {
  background-color: $white;
  font-weight: bold;
  position: absolute;
  width: 100%;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding: 0 50px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 168px 1fr 49px 264px;
    grid-template-rows: 88px;
    align-items: center;
    justify-items: start;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 184px 1fr min-content 266px;
  }
}

.main-nav__logo img {
  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.main-nav__logo:hover img {
  @media (min-width: $tablet-width) {
    opacity: 0.6;
  }
}

.main-nav__logo:active img {
  @media (min-width: $tablet-width) {
    opacity: 0.3;
  }
}

.main-nav__img-wrapper {
  min-width: 21px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    min-width: min-content;
    padding-right: 0;
  }
}

.main-nav__item p {
  @media (min-width: $tablet-width) {
    width: max-content;
  }
}

.main-nav--nojs {
  position: inherit;
}

.main-nav__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  height: 100%;

  &--mobile-none {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--tablet-none {
    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &:last-child {
    box-shadow: none;
  }

  &--logo-tablet {
    @media (min-width: $tablet-width) {
      white-space: nowrap;
      max-height: max-content;
      position: absolute;
      left: 50px;
      top: 22px;
    }

    @media (min-width: $desktop-width) {
      left: calc(50% - (149px / 2));
      top: 9px;
    }
  }

  &--search {
    grid-column: 3/4;
    grid-row: 1/2;
    min-width: 46px;
    justify-content: center;
    position: relative;

    @media (min-width: $desktop-width) {
      min-width: 50px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      background-color: rgba($black, $alpha: 0.1);
      display: block;
      top: 0;
      width: 1px;
      height: 88px;
    }

    &::before {
      left: -33px;
    }

    &::after {
      right: -4px;

      @media (min-width: $desktop-width) {
        right: 0;
      }
    }
  }

  &--search a {
    @media (min-width: $tablet-width) {
      justify-content: start;
      margin-top: 5px;
    }
  }

  &--bukkit {
    grid-column: 4/5;
    grid-row: 1/2;

    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  &--bukkit a {
    @media (min-width: $tablet-width) {
      justify-content: flex-end;
    }
  }

  &--bukkit p {
    @media (min-width: $tablet-width) {
      padding-left: 30px;
    }
  }

  &--catalog {
    grid-column: 1/2;
    grid-row: 2/3;

    @media (min-width: $tablet-width) {
      margin-top: 8px;
      font-size: 15px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      font-size: 17px;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  &--form {
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;

    @media (min-width: $tablet-width) {
      margin-top: 8px;
      font-size: 15px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 0 35px;
      font-size: 17px;
      grid-column: 2/3;
      grid-row: 1/2;

      &::before {
        position: absolute;
        content: "";
        background-color: rgba($black, $alpha: 0.1);
        display: block;
        top: 0;
        left: -35px;
        width: 1px;
        height: 88px;
      }
    }
  }

  &--sale {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 0 0 35px;
  }

  &--ad {
    @media (min-width: $tablet-width) {
      justify-self: end;
      display: block;
      grid-column: 4/5;
      grid-row: 2/3;
    }
  }

  &--ad p {
    width: 100%;
  }

  &--second-row {
    @media (min-width: $tablet-width) {
      font-size: 15px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 5px;
    }
  }
}

.main-nav__text--text-none {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__item a:not(.main-nav__logo) {
  height: 80px;
  box-shadow: 0 1px 0 $table-color, inset 0 1px 0 $table-color;
  display: flex;
  padding-left: 30px;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 100%;
    padding: 0;
    box-shadow: none;
  }
}

.main-nav__item:hover p {
  opacity: 0.6;
}

.main-nav__item:active p {
  opacity: 0.3;
}

.main-nav__item:hover .main-nav__img-wrapper path {
  fill: $main-color;
  opacity: 1;
}

.main-nav__item:active .main-nav__img-wrapper path {
  fill: $main-color;
  opacity: 0.3;
}
