.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-form__name {
  font-size: 15px;
  line-height: 30px;
  margin-top: 14px;
  margin-bottom: 22px;
}
