.modal {
  background-color: rgba($color: $white, $alpha: 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;

  &__wrapper {
    width: 100%;
    height: 336px;
    padding: 29px 0 46px 0;
    box-sizing: border-box;
    position: sticky;
    top: 40vh;
    background-color: $white;
    border: 1px solid $gray;
    box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      width: 566px;
      height: 336px;
    }
  }

  &__wrapper > * {
    margin: 0 30px;
  }

  &__text {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 57px;
    }
  }
}
