.page {
  background-color: $white;
  font-family: "Open Sans", "Courier", monospace;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  margin: 0 auto;
  min-width: 320px;
}

.page__body {
  padding: 0;
  margin: 0;
  position: relative;
}

.page-header__nav-toggle {
  height: 14px;
  width: 20px;
}
