.page-footer {
  background-color: $footer-color;
}

.page-footer__container {
  position: relative;
  height: 160px;

  display: grid;
  grid-template-rows: 1fr 1fr;

  @media (min-width: $tablet-width) {
    height: 143px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1150px;
    box-sizing: border-box;
  }
}

.page-footer__list {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (min-width: $tablet-width) {
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.page-footer__list::after {
  content: "";
  width: 260px;
  height: 1px;
  position: absolute;
  background-color: #e5e5e5;
  bottom: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-footer__logo-link--mobile-hidden {
  @media (max-width: ($tablet-width - 1)) {
    display: none;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__list li:nth-child(even) {
  margin: 0 41px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.page-footer__wrapper p {
  margin-right: 27px;
}

.link-behaviour:hover path {
  cursor: pointer;
  fill: $main-dark-hover;
}

.link-behaviour:active path {
  cursor: pointer;
  fill: $main-dark-hover;
  opacity: 0.3;
}

.academy-link {
  display: flex;
  align-items: center;
}
