.page-header {
  position: relative;
  background-color: $white;

  &__logo-wrapper {
    position: relative;
    height: min-content;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__logo {
    display: flex;
    min-height: 79px;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__logo-img {
    margin: 0 auto;
  }

  &__info {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
  }

  &__nav-toggle {
    padding: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

//Верстал по памяти, может быть неправильно

.toggle--closed {
  content: "";
  position: absolute;
  width: 20px;
  height: 14px;
  top: 32px;
  right: 30px;
  background-color: transparent;
  border: 0;
  border-top: 2px $black solid;
  border-bottom: 2px $black solid;
}

.toggle--closed::before {
  content: "";
  position: absolute;
  background-color: $black;
  height: 2px;
  width: 20px;
  top: 4px;
  left: 0;
}

// .toggle--opened {
//   display: none;
//   content: "";
//   position: absolute;
// }

// .toggle--opened::before {
//   color: $black;
//   content: "";
//   width
// }

// @media (min-width: $tablet-width) {
//   .page-header__info {
//     display: block;
//     order: 4;
//   }

//   .page-header__list ul {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//   }
// }
