.page {
  background-color: $white;
  font-family: "Open Sans", "Courier", monospace;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 1150px;
  }

  &-main section:not(.banner) {
    @media (min-width: $desktop-width) {
      margin: 0 50px;
    }
  }

  &__body {
    padding: 0;
    margin: 0;
  }
}

.page-header {
  &__nav-toggle {
    height: 14px;
    width: 20px;
  }
}
