.page-header {
  position: relative;
  background-color: $white;

  &__logo-wrapper {
    position: relative;
    height: min-content;
    box-shadow: 0 1px 0 $table-color, inset 0 1px 0 $table-color;

    @media (min-width: $tablet-width) {
      display: none;
      box-shadow: none;
    }
  }

  &__logo {
    display: flex;
    min-height: 79px;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__logo-img {
    margin: 0 auto;
  }

  &__info {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
  }

  &__nav-toggle {
    font-size: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

//Верстал по памяти, может быть неправильно

.toggle--closed {
  font-size: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 72px;
  height: 79px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0 31px;
}

.toggle--closed::before {
  content: "";
  position: absolute;
  top: 32px;
  right: calc(50% - 10px);
  width: 20px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
}

.toggle--opened {
  background-image: url("../../img/menu/menu-close.svg");
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 72px;
  height: 79px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-repeat: no-repeat;
}
