.size-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 7px;
  margin-bottom: 31px;
  justify-items: center;
}

.size-list__item {
  box-sizing: border-box;
  width: 82px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 112px;
  }
}

.size-list__item label {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
