.user-list__item {
  height: 79px;
  box-shadow: 0 1px 0 $table-color, inset 0 1px 0 $table-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.user-list__item:last-child {
  box-shadow: none;
}


@media (min-width: $tablet-width) {
  .user-list__item {
    box-shadow: none;
  }
}
