.process-info__container {
  margin: 0 30px 58px 29px;
  border: 1px solid $table-color;

  @media (min-width: $tablet-width) {
    margin: 0 50px 58px 50px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 25px;
    margin-bottom: 96px;
  }
}

.process-info__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 29px;
    margin-bottom: 0;
  }
}

.process-info__icon {
  margin-right: 25px;

  @media (min-width: $tablet-width) {
    margin-right: 33px;
  }
}

.process-info__icon path {
  width: 32px;
  height: 32px;
}

.process-info__wrapper {
  min-height: 96px;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  margin: 0 27px 0 34px;

  @media (min-width: $tablet-width) {
    min-height: min-content;
    margin: 14px 0 0 40px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 47px 71px 0 53px;
  }
}

.process-info__video-wrapper {
  width: 100%;
  height: auto;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}

.process-info__video-img {
  width: 100%;
  height: 150px;

  @media (min-width: $tablet-width) {
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.process-info__description {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin: 29px 0 41px 34px;

  @media (min-width: $tablet-width) {
    margin-top: 4px;
    margin-left: 40px;
    font-size: 15px;
    line-height: 30px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 8px 53px 0 53px;
    height: min-content;
  }
}

.process-info__button-submit {
  margin: 0 33px 33px 34px;

  @media (min-width: $tablet-width) {
    margin: 0 42px 46px 42px;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 32px 56px 46px 55px;
  }
}

.process-info__button {
  padding: 0;
  position: absolute;
  border: none;
  background-color: transparent;
  width: 100px;
  height: 76px;
  top: calc(50% - 82px / 2);
  left: calc(50% - 100px / 2);

  &:hover {
    transform: scale(1.2);
  }
}

.process-info__button::before {
  display: block;
  position: absolute;
  content: "";
  width: 100px;
  height: 76px;
  background-image: url("../../../img/catalog/play.svg");
  background-repeat: no-repeat;
  top: 0;
}

.process-info__button:hover::before {
  display: block;
  position: absolute;
  content: "";
  width: 100px;
  height: 76px;
  transform: scale(1.2);
  background-image: url("../../../img/catalog/play.svg");
  background-repeat: no-repeat;
  top: 0;
}

.process-info__button:active::before {
  display: block;
  position: absolute;
  content: "";
  width: 100px;
  height: 76px;
  transform: scale(0.8);
  background-image: url("../../../img/catalog/play.svg");
  background-repeat: no-repeat;
  top: 0;
  opacity: 0.3;
}
