.product {
  border: 1px solid $table-color;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 316px;
    min-height: 659px;
  }
}

.product picture {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: auto;
  }
}

.product__img {
  width: 260px;
  height: 195px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: auto;
  }
}

.product__wrapper {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 172px;
    justify-content: space-between;
    margin-top: 21px;
  }
}

.product__wrapper > div {
  min-height: min-content;
}

.product__name {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0 28px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.product__name:hover {
  opacity: 0.6;
}

.product__name:active {
  opacity: 0.3;
}

.product__short-description {
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  margin: 5px 28px 0 28px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.product__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.product__price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;
  margin: 16px 28px 0 28px;
  border-top: 1px solid $table-color;

  @media (min-width: $tablet-width) {
    margin: 0 28px;
  }

  @media (min-width: $desktop-width) {
    height: 72px;
    margin: 0 28px;
  }
}

.product__buy-icon {
  height: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 3px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 8px;
  }
}

.product__buy-icon:hover path {
  opacity: 1;
  fill: $main-color;
}

.product__buy-icon:hover {
  cursor: pointer;
}

.product__buy-icon:active path {
  opacity: 0.3;
  fill: $main-color;
}

.product__buy-icon:active {
  cursor: pointer;
}
