.button__black {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $white;
  color: $dark-gray;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  height: 48px;
  border: 2px solid $dark-gray;
}

.button__black:hover {
  background-color: $dark-gray;
  color: $white;
}

.button__black:active {
  background-color: $dark-gray;
  color: rgba(255, 255, 255, 0.3);
}

.arrow-button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 130px;
  height: 60px;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 26px;
    margin: 0 19px;
  }
}

.arrow-buttons {
  position: relative;

  @media (max-width: $tablet-width) {
    border: 1px solid $table-color;
  }

  &::before {
    @media (max-width: $tablet-width) {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      z-index: 2;
      background-color: $table-color;
      left: 50%;
    }
  }

  &__left {
    background-image: url("../../img/menu/huge-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__right {
    background-image: url("../../img/menu/huge-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.button__green {
  width: 260px;
  height: 52px;

  color: $white;
  text-transform: uppercase;
  border: none;
  background-color: $main-color;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
}
