.button {
  &--black {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $white;
    color: $dark-gray;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    height: 48px;
    border: 2px solid $dark-gray;

    &:hover {
      background-color: $dark-gray;
      color: $white;
    }

    &:active {
      background-color: $dark-gray;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--green {
    width: 260px;
    height: 52px;

    color: $white;
    text-transform: uppercase;
    border: none;
    background-color: $main-color;
    font-size: 17px;
    line-height: 16px;
    font-weight: bold;
  }
}

.arrow-button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 130px;
  height: 50px;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 26px;
    margin: 0 19px;
  }
}

.arrow-buttons {
  position: relative;

  @media (max-width: $tablet-width) {
    border: 1px solid $table-color;
  }

  &::before {
    @media (max-width: $tablet-width) {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      z-index: 2;
      background-color: $table-color;
      left: 50%;
    }
  }

  &__left {
    background-image: url("../../img/menu/huge-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__right {
    background-image: url("../../img/menu/huge-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.button_type {
  &--left {
    &:hover {
      transform: translateY(-5px);
      background-color: $main-color-hover;
    }

    &:hover svg {
      opacity: 0.7;
    }

    &:active svg {
      opacity: 0.3;
    }

    &:hover::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: -5px;
      background-color: $main-color-hover;
    }
  }

  &--right {
    &:hover {
      transform: translateY(-5px);
      background-color: $main-dark-hover;
    }

    &:hover svg {
      opacity: 0.7;
    }

    &:active svg {
      opacity: 0.3;
    }

    &:hover::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: -5px;
      background-color: $main-dark-hover;
    }
  }
}
