// Colors

$white: #ffffff;
$black: #000000;
$main-color: #63d1bb;
$main-dark: #56c3b2;
$arrow-border-color: #ececec;
$link-underline: #62d1ba;
$main-color-hover: #59d5bc;
$main-dark-hover: #46c1ae;
$table-color: #ececec;
$dark-gray: #444444;
$light-gray: #c7c7c7;
$footer-color: #f1f1f1;

// Width

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
