.filter-input-radio + label::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid $dark-gray;
  top: -4px;
  left: -61px;
  width: 38px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    top: -8px;
    left: -78px;
  }

  @media (min-width: $desktop-width) {
    top: -7px;
    left: -80px;
  }
}

.filter-input-radio:hover + label::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid $main-color;
  top: -4px;
  left: -61px;
  width: 38px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    top: -8px;
    left: -78px;
  }

  @media (min-width: $desktop-width) {
    top: -7px;
    left: -80px;
  }
}

.filter-input-radio:active + label::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid $dark-gray;
  opacity: 0.2;
  top: -4px;
  left: -61px;
  width: 38px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    top: -8px;
    left: -78px;
  }

  @media (min-width: $desktop-width) {
    top: -7px;
    left: -80px;
  }
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid $dark-gray;
  top: -4px;
  left: -61px;
  width: 38px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    top: -8px;
    left: -78px;
  }

  @media (min-width: $desktop-width) {
    top: -7px;
    left: -80px;
  }
}

.filter-input-radio:checked:hover + label::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid $main-color;
  top: -4px;
  left: -61px;
  width: 38px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    top: -8px;
    left: -78px;
  }

  @media (min-width: $desktop-width) {
    top: -7px;
    left: -80px;
  }
}

.filter-input-radio:checked:active + label::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid $dark-gray;
  opacity: 0.2;
  top: -4px;
  left: -61px;
  width: 38px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    top: -8px;
    left: -78px;
  }

  @media (min-width: $desktop-width) {
    top: -7px;
    left: -80px;
  }
}


.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: $main-color;
  top: 8px;
  left: -48px;
  width: 18px;
  height: 18px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
    top: 6px;
    left: -63px;
  }

  @media (min-width: $desktop-width) {
    top: 7px;
    left: -65px;
  }
}

.filter-input-checkbox + label::before {
  content: "";
  width: 36px;
  height: 36px;
  border: 2px solid $dark-gray;
  position: absolute;
  left: -61px;
  top: -6px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    left: -79px;
    top: -5px;
  }

  @media (min-width: $desktop-width) {
    top: -10px;
  }
}

.filter-input-checkbox:hover + label::before {
  content: "";
  width: 36px;
  height: 36px;
  border: 2px solid $main-color;
  position: absolute;
  left: -61px;
  top: -6px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    left: -79px;
    top: -5px;
  }

  @media (min-width: $desktop-width) {
    top: -10px;
  }
}

.filter-input-checkbox:hover + label::after {
  content: "";
  width: 23px;
  height: 16px;
  background-image: url("../../../img/Tick.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -53px;
  top: 5px;

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 22px;
    background-size: 100% auto;
    left: -69px;
    top: 8px;
  }

  @media (min-width: $desktop-width) {
    left: -70px;
    top: 4px;
  }
}

.filter-input-checkbox:active + label::before {
  content: "";
  width: 36px;
  height: 36px;
  border: 2px solid $dark-gray;
  position: absolute;
  opacity: 0.2;
  left: -61px;
  top: -6px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    left: -79px;
    top: -5px;
  }

  @media (min-width: $desktop-width) {
    top: -10px;
  }
}


.filter-input-checkbox:checked + label::before {
  content: "";
  width: 36px;
  height: 36px;
  border: 2px solid $dark-gray;
  position: absolute;
  left: -61px;
  top: -6px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    left: -79px;
    top: -5px;
  }

  @media (min-width: $desktop-width) {
    top: -10px;
  }
}

.filter-input-checkbox:checked:hover + label::before {
  content: "";
  width: 36px;
  height: 36px;
  border: 2px solid $main-color;
  position: absolute;
  left: -61px;
  top: -6px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    left: -79px;
    top: -5px;
  }

  @media (min-width: $desktop-width) {
    top: -10px;
  }
}

.filter-input-checkbox:checked:active + label::before {
  content: "";
  width: 36px;
  height: 36px;
  border: 2px solid $dark-gray;
  opacity: 0.2;
  position: absolute;
  left: -61px;
  top: -6px;

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    left: -79px;
    top: -5px;
  }

  @media (min-width: $desktop-width) {
    top: -10px;
  }
}

.filter-input-checkbox:checked + label::after {
  content: "";
  width: 23px;
  height: 16px;
  background-image: url("../../../img/Tick.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -53px;
  top: 5px;

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 22px;
    background-size: 100% auto;
    left: -69px;
    top: 8px;
  }

  @media (min-width: $desktop-width) {
    left: -70px;
    top: 4px;
  }
}
