.form {
  padding: 0 30px 0 30px;

  &__description {
    font-size: 13px;
    line-height: 24px;
  }

  &__info-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }

  & input::placeholder {
    font-family: "Open Sans", "Courier", monospace;
    font-size: 17px;
    line-height: 18px;
    opacity: 0.3;
  }
}
