.order-form__item:nth-child(2n) {
  @media (min-width: $tablet-width) {
    background-color: $order-bg;
  }
}

.order-form__fieldset {
  border: none;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: grid;
    grid-template-columns: 116px 1fr;
    column-gap: 52px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 0;
  }
}


.order-form__fieldset label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.order-form__item--contact {
  @media (min-width: $tablet-width) {
    padding: 50px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 228px 74px 110px;
  }
}

.order-form:nth-child(even) {
  @media (min-width: $tablet-width) {
    background-color: $footer-color;
  }
}

.order-form__legend {
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    font-size: 19px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
    display: flex;
    justify-content: flex-start;
  }
}

.order-form__fieldset--type-of-order {
  @media (min-width: $tablet-width) {
    padding: 50px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 50px 19px 110px;
  }
}

.order-form__fieldset--type-of-order > div,
.order-form__fieldset--color > div {
  padding-top: 13px;
}

.order-form__fieldset--color {
  @media (min-width: $tablet-width) {
    padding: 26px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 200px 20px 110px;
  }
}

.order-form__fieldset--full-name {
  @media (min-width: $tablet-width) {
    padding: 46px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 228px 50px 110px;
  }
}

.order-form__fieldset--number {
  margin-bottom: 29px;

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.order-form__fieldset--comment {
  padding: 32px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 49px 50px 11px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 26px 225px 50px 110px;
  }
}

.order-form__fieldset--number input::placeholder,
.order-form__fieldset--full-name input::placeholder,
.order-form__fieldset--email input::placeholder {
  text-transform: uppercase;
  font-family: "Open Sans", "Courier", monospace;

  @media (min-width: $tablet-width) {
    padding-left: 15px;
    font-size: 19px;
    line-height: 18px;
  }
}

.order-form__fieldset--full-name input::placeholder,
.order-form__fieldset--email input::placeholder {
  text-transform: unset;
}

.order-form__fieldset--comment textarea {
  width: 100%;
  height: 142px;
  margin-top: 17px;
  background: $white;
  mix-blend-mode: normal;
  border: 2px solid $dark-gray;
  box-sizing: border-box;
  font-family: "Open Sans", "Courier", monospace;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  padding: 17px;
  resize: none;

  &::placeholder {
    font-family: "Open Sans", "Courier", monospace;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      font-size: 19px;
      line-height: 18px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 100%;
    font-size: 19px;
    line-height: 18px;
  }

  &:hover {
    border-color: $main-color;
  }

  &:active {
    border-color: $main-color;
  }

  &:focus {
    outline: none;
  }
}


.order-form input:not(.form__submit) {
  background-color: transparent;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.order-form__legend span {
  margin: 0;
  color: $main-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  background-color: $white;
  z-index: 2;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    z-index: auto;
    padding-right: 0;
  }
}

.order-form__legend .horizontal-line::before {
  @media (max-width: ($tablet-width - 1)) {
    content: "";
    width: calc(100% - (20px * 2));
    height: 1px;
    background-color: $main-color;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;
  }
}

.order-form__submit {
  margin-bottom: 57px;

  @media (min-width: $tablet-width) {
    margin: 42px 50px 45px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0 225px 45px 225px;
  }
}

.order-form__submit p {
  margin-top: 13px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.order-form__submit input {
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
    height: 52px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
