.order-form__fieldset {
  border: none;
  padding: 0;

  & label {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 167px 1fr;
  }
}

.order-form__legend {
  padding-right: 23px;
  color: $main-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
}

.order-form__submit {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & input {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  & p {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.fieldset__comment textarea {
  width: 260px;
  height: 142px;
  background: $white;
  mix-blend-mode: normal;
  border: 2px solid $dark-gray;
  box-sizing: border-box;

  &::placeholder {
    font-family: "Open Sans", "Courier", monospace;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.fieldset__number input::placeholder {
  text-transform: uppercase;
  font-family: "Open Sans", "Courier", monospace;
}
