.selection-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  &--type {
    margin: 30px 0;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &--colors {
    margin: 25px 0 25px 0;

    @media (min-width: $tablet-width) {
      margin: 0;
      display: grid;
      grid-template-columns: min-content min-content;
      column-gap: 89px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &--full-name li {
    margin: 23px 0 0 0;
    display: grid;
    grid-template-rows: min-content 1fr;

    @media (min-width: $tablet-width) {
      margin: 0 0 24px 0;
      column-gap: 26px;
      grid-template-rows: none;
      grid-template-columns: min-content 1fr;
      align-items: center;
    }
  }

  &--full-name li:last-child {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.selection-list label {
  cursor: pointer;
  min-height: 36px;
  max-height: max-content;
  position: relative;
  display: flex;
  align-items: center;
}

.selection-list--colors li {
  height: 38px;

  @media (min-width: $tablet-width) {
    height: 52px;
  }
}

.selection-list__item {
  padding-left: 58px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-left: 79px;
  }
}

.selection-list--type .selection-list__item {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }
}
