.text-input {
  font-family: "Open Sans", "Courier", monospace;
  font-size: 17px;
  line-height: 18px;
  border: none;
  background: $white;
  mix-blend-mode: normal;
  box-shadow: inset 0 -2px 0 $black;

  &:hover {
    box-shadow: inset 0 -2px 0 $main-color;
  }

  &:active {
    box-shadow: inset 0 -2px 0 $main-color;
    outline: none;
  }

  &:focus {
    box-shadow: inset 0 -2px 0 $main-color;
    outline: none;
  }
}

.text-input--size {
  width: 100%;
  height: 50px;
}

.text-input--margin {
  margin: 0 0 0 0;
}

.text-input-phone {
  position: absolute;
  bottom: 24%;
  right: 4px;

  @media (min-width: $tablet-width) {
    bottom: 25%;
    right: 26px;
  }

  @media (min-width: $desktop-width) {
    right: 4px;
  }
}

.text-input-email {
  position: absolute;
  bottom: 20%;
  right: 0;

  @media (min-width: $tablet-width) {
    bottom: 30%;
    right: 22px;
  }

  @media (min-width: $desktop-width) {
    right: 0;
  }
}

.text-input + .text-input-phone path {
  opacity: 0.2;
}

.text-input:hover + .text-input-phone path {
  fill: $main-color;
  opacity: 1;
}

.text-input:active + .text-input-phone path {
  fill: $main-color;
  opacity: 1;
}

.text-input + .text-input-email path {
  opacity: 0.2;
}

.text-input:hover + .text-input-email path {
  fill: $main-color;
  opacity: 1;
}

.text-input:active + .text-input-email path {
  fill: $main-color;
  opacity: 1;
}
